n8n-workflows/05-sync-all-data.json
{
  "name": "Meta Ads - Sync All Data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta/sync-all",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/act_{{ $json.body.ad_account_id }}/campaigns",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status,objective,daily_budget,lifetime_budget,created_time,updated_time"
            },
            {
              "name": "access_token",
              "value": "={{ $json.body.access_token }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-campaigns",
      "name": "Get Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 150]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/act_{{ $json.body.ad_account_id }}/adsets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,campaign_id,name,status,daily_budget,lifetime_budget,optimization_goal,billing_event,bid_amount,targeting,created_time"
            },
            {
              "name": "access_token",
              "value": "={{ $json.body.access_token }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-adsets",
      "name": "Get Ad Sets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/act_{{ $json.body.ad_account_id }}/ads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,adset_id,name,status,creative{id,name,title,body,image_url,video_url,call_to_action_type,object_url},created_time"
            },
            {
              "name": "access_token",
              "value": "={{ $json.body.access_token }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-ads",
      "name": "Get Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 450]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/act_{{ $json.body.ad_account_id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "spend,impressions,clicks,ctr,cpc,cpm,reach,frequency,conversions,conversion_values,purchase_roas"
            },
            {
              "name": "date_preset",
              "value": "last_7d"
            },
            {
              "name": "access_token",
              "value": "={{ $json.body.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-insights",
      "name": "Get Account Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 600]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Combine all data into a single response\nconst campaigns = $('Get Campaigns').first().json.data || [];\nconst adsets = $('Get Ad Sets').first().json.data || [];\nconst ads = $('Get Ads').first().json.data || [];\nconst insights = $('Get Account Insights').first().json.data?.[0] || {};\n\n// Process campaigns\nconst processedCampaigns = campaigns.map(c => ({\n  id: c.id,\n  name: c.name,\n  status: c.status,\n  objective: c.objective,\n  daily_budget: c.daily_budget ? parseInt(c.daily_budget) / 100 : null,\n  lifetime_budget: c.lifetime_budget ? parseInt(c.lifetime_budget) / 100 : null,\n  created_time: c.created_time,\n  updated_time: c.updated_time\n}));\n\n// Process ad sets\nconst processedAdSets = adsets.map(a => ({\n  id: a.id,\n  campaign_id: a.campaign_id,\n  name: a.name,\n  status: a.status,\n  daily_budget: a.daily_budget ? parseInt(a.daily_budget) / 100 : null,\n  lifetime_budget: a.lifetime_budget ? parseInt(a.lifetime_budget) / 100 : null,\n  optimization_goal: a.optimization_goal,\n  billing_event: a.billing_event,\n  bid_amount: a.bid_amount ? parseInt(a.bid_amount) / 100 : null,\n  targeting: a.targeting,\n  created_time: a.created_time\n}));\n\n// Process ads\nconst processedAds = ads.map(ad => ({\n  id: ad.id,\n  adset_id: ad.adset_id,\n  name: ad.name,\n  status: ad.status,\n  creative: ad.creative ? {\n    id: ad.creative.id,\n    name: ad.creative.name,\n    title: ad.creative.title,\n    body: ad.creative.body,\n    image_url: ad.creative.image_url,\n    video_url: ad.creative.video_url,\n    call_to_action_type: ad.creative.call_to_action_type,\n    link_url: ad.creative.object_url\n  } : null,\n  created_time: ad.created_time\n}));\n\n// Process insights\nconst processedInsights = {\n  spend: parseFloat(insights.spend) || 0,\n  impressions: parseInt(insights.impressions) || 0,\n  clicks: parseInt(insights.clicks) || 0,\n  ctr: parseFloat(insights.ctr) || 0,\n  cpc: parseFloat(insights.cpc) || 0,\n  cpm: parseFloat(insights.cpm) || 0,\n  reach: parseInt(insights.reach) || 0,\n  frequency: parseFloat(insights.frequency) || 0,\n  conversions: parseInt(insights.conversions) || 0,\n  roas: insights.purchase_roas?.[0]?.value ? parseFloat(insights.purchase_roas[0].value) : 0\n};\n\n// Generate recommendations based on data\nconst recommendations = [];\n\n// Check for high-performing campaigns that could benefit from budget increase\nfor (const campaign of processedCampaigns) {\n  if (campaign.status === 'ACTIVE' && processedInsights.roas > 2) {\n    recommendations.push({\n      id: `rec_budget_${campaign.id}`,\n      recommendation_type: 'BUDGET_INCREASE',\n      title: 'Increase Budget for High Performer',\n      description: `Campaign \"${campaign.name}\" has strong ROAS. Consider increasing budget.`,\n      impact: {\n        metric: 'Conversions',\n        current_value: processedInsights.conversions,\n        projected_value: Math.round(processedInsights.conversions * 1.3),\n        change_percentage: 30\n      },\n      priority: 'MEDIUM',\n      entity_type: 'CAMPAIGN',\n      entity_id: campaign.id,\n      entity_name: campaign.name,\n      suggested_action: {\n        action_type: 'UPDATE_BUDGET',\n        field: 'daily_budget',\n        current_value: campaign.daily_budget,\n        suggested_value: campaign.daily_budget ? campaign.daily_budget * 1.2 : 100\n      },\n      applied: false,\n      dismissed: false,\n      created_time: new Date().toISOString()\n    });\n  }\n}\n\nreturn {\n  campaigns: processedCampaigns,\n  adsets: processedAdSets,\n  ads: processedAds,\n  insights: processedInsights,\n  recommendations: recommendations\n};"
      },
      "id": "combine-data",
      "name": "Combine All Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [970, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Campaigns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Ad Sets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaigns": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Sets": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ads": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Insights": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
